.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    padding: 8px;
    text-align: center;
}

.Story {
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    padding: 40px;
    background-image: url('./night.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.fade-in-image { animation: fadeIn 5s; }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }